<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="WorkflowFileServer" value="F:\\TAOWEB\\BPMNFiles"/>
    <!--<add key="ConnectionString" value="Data Source=192.168.0.133;Initial Catalog=ngweb001;Integrated Security=False;User ID=sa;Password=sasa;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />-->
    <add key="ConnectionString" value="Data Source=127.0.0.1\MSSQL2012;Initial Catalog=SCMDB;Integrated Security=False;User ID=sa;Password=123456;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
  </appSettings>
</configuration>